<form class="quiz" action="/rezultat-chestionar" method="POST">
    <% var numberOfQuestion = 0; %>
    <% for (var key in intrebari) { %>
        <% numberOfQuestion++; %>
        <p> <%= numberOfQuestion %>. <%= intrebari[key].titlu %> <p>      
        <% for (var index in intrebari[key].variante) {  %>
            <label> <%= intrebari[key].variante[index] %><br>
                <input type="radio" name="<%= key %>" value="<%= key + '_' + index %>">   
                <span></span>
            </label> 
        <% } %>
        <br>
    <% } %>

    <br>
    <button type="submit">Trimite</button>
</form>